<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <title th:text="'LogBook' + ${title == null ? '' : ' :: ' + title}">Log Book</title>
</head>
<body>
<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">



    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">LOGBOOK</a>

            <!-- Links -->

                <a class="nav-item active">


                <a th:href="@{/add}">Make an Entry / </a>
                <a th:href="@{/logout}">Logout</a>
                </a>

            </a>


    </nav>
        </div>








<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <a th:href="@{/}" class="navbar-brand">Log Book</a>-->
<!--        </div>-->
<!--        <div class="navbar" id="collapseExample">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li><a th:href="@{/add}">Make an Entry</a></li>-->
<!--                <li><a th:href="@{/logout}">Logout</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->


</body>
</html>